@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap'); */

:root {

  --font-color: rgb(37, 37, 37);
  --button-gradient: linear-gradient(to right, rgb(226, 93, 32) 0%, rgb(246, 167, 245)50%, rgb(226, 93, 32) 100%)0% 0% / 200% transparent;

}

body {
  font-family: var(--font-lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.nav {
  background: var(--font-color)
}


.hero-wrapper {
  width: 100%;
  height: 600px;
  background-image: url('../../public/images/herowoman.jpg');
  background: var(--font-color);
  background: linear-gradient(to right, var(--font-color) 68%, transparent 30%);
  display: flex;
  /* align-items: center; */
  padding-top: 100px;
  position:relative;

  @media (max-width:771px) {
    background: var(--font-color);
  }

}




.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  height: auto;

}



.text-gradient {
  background: linear-gradient(to right, rgb(226, 93, 32) 0%, rgb(246, 167, 245) 100%);
  background-clip: text;
  color: transparent;
  /* display:none; */
}


.divider{
  width:80%;
  height:1px;
  margin: 0 auto;
  background:rgb(196, 192, 192);
}
.content div:nth-child(1) {
  /* flex-grow: 4; */
  justify-content: center;
  align-items: center;
  /* height:300px; */
  line-height: 1.2;
  max-width: 700px;
}

.content div:nth-child(1) h2 {
  margin-top: 30px;
  font-weight: 900;
  /* font-size:3rem; */
  color: white;
}


.content div:nth-child(1) p {
  color: rgb(168, 168, 168);

}

.content div:nth-child(2) {
  position: relative;
  /* flex-grow:3; */
  height: 300px;
  position: relative;

  /* background:white; */
  @media(max-width:640px) {
    display: none;
  }
}


.content .img-card {
  width: 300px;
  min-width: 100px;
  height: 400px;
  border-radius: 20px;
  /* transform: translate(-50px,-50px); */
  z-index: 5;
}

.button {
  padding: 15px 40px;
  color: var(--font-color);
  border-radius: 50px;
  background: var(--button-gradient);

  margin-top: 10px;
  font-weight: 700;
  transition: all 200ms ease-in
}

.tech-wrapper {
  box-shadow: 0.5px 0.5px 0.5cap rgb(196, 195, 195);
  padding: 30px 0px;
}


.section-services {
  margin-top: 100px;
  ;
}

.section-services h2 {
  text-align: center;
  font-weight: 900;
  color: var(--font-color);
  margin: 60px 0;
}

.section-services p {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(92, 91, 91);
  width: 70%;
  margin: 0 auto;
}

.img-tech-wrapper {
  display: flex;

  justify-content: space-around;
  align-items: center;

}

.img-holder {
  display: flex !important;
  justify-content: center;
  gap: 3%;

}

.button:hover {
  background-position-x: -150px;
}

.small-button {
  padding: 8px 20px;
}

.content .img-card2 {
  width: 200px;
  max-width: 200px;
  height: 300px;
  background: pink;
  border-radius: 20px;
  /* position: absolute; */
  transform: translate(0px, 150px);
  z-index: 1;
  /* display:none; */

}

.card-section {
  margin-top: 70px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10%;
  padding: 0 3%;
}

.card-section .card {

  flex-grow: 28%;
  
  /* border-radius:30px; */

  transition: all 200ms ease-in-out
}

.card-section .card:hover {
  flex-grow: calc(width + 10%);
  height: 410px;
  box-shadow: 2px 2px 4cap grey;
}


.card-section .card p {
  font-size: small;
  width: 100%;
  padding: 10px 20px;
}

.card-image {
  width: 100%;
  height: 250px;
  background: url('../../public/images/data-analytics1.jpg');
  background-size:cover;
  overflow: hidden;


}

.card-image img {
  width: 100%;
  transform: translate(0, 0);
  transition: all 200ms ease-in-out;
}


.brief-section {
  width: 100%;
  background-color: var(--font-color);
  padding: 0 10%;

}

.brief-info {
  display: flex;
  gap: 10%;
  padding: 10% 20px;

}

.brief-info h2 {
  color: white;
  font-weight: 900;
  font-size: 2.5em;
}

.brief-info p {
  color: white;
  font-size: 1.2em;
  line-height: 1.7;
  margin-bottom: 8%;
}

.contact-btn {
  padding: 15px 40px;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  font-weight: 500;
}

.contact-btn:hover {
  background: black;

}

.partners-section {
  padding: 10% 0;
}

.partners-section p {
  margin: auto;
  text-align: center;
  margin-bottom: 6%;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
  font-size: 1.2em;
  line-height: 1.7;
  margin-bottom: 8%;
  width:80%;
  
  
}

.testimonials{
  background:black;
  margin-bottom:10%;
}

/* .partners-section p {
  color: black;
  font-size: 1.2em;
  line-height: 1.7;
  margin-bottom: 8%;
} */

.partners-info {
  background: url("../../public/images/businesswoman-networking-using-digital-devices.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px 0;
  width: 100%;
  position: relative;
}



.statis p {
  color: white;
  font-weight: 900;
}

.statis h3 {
  font-weight: 900;
}


.partners-section h2 {
  font-weight: 900;
  font-size: 3rem;
  color: rgb(13, 13, 64);
  text-align: center;
}

.testimonials{
  background-image: linear-gradient(to right, rgb(226, 93, 32) 0%, rgb(246, 167, 245)100%);
  box-shadow: inset 0px -4px 30px rgba(0, 0, 0, 0.1), inset 0px 4px 30px rgba(0, 0, 0, 0.1);

}

.card-testimonials{
  background-color: white;
  padding:60px auto;
  width:80%;
  border-radius: 40px;
  box-shadow: rgba(37, 37, 37, 0.1) 0px 12px 16px -4px, rgba(37, 37, 37, 0.05) 0px 4px 6px -2px;
}


.about-mission{
  background:var(--font-color);
  
}

.testbg{
  background-color: black;
}


.section-mtt{
  padding-top:200px;
  padding-bottom:200px;
}

.closing-text{
  /* width:50%; */
  margin: 0 auto;
  padding-top:10%;
}

.zod{
  display: flex;
    justify-content: center;

}

.button-testimonials{
  margin-top:3%;
  padding:8px 50px;
  border-radius: 20px;
  border: 3px solid var(--font-color);
  transition: All 300ms ease-in;
}

.button-testimonials:hover{
  background-color: var(--font-color);
  color:white;
}


.hero-wrapper .overlay{
  background-color: var(--font-color);  
  opacity: .95;
  width:100%;
  height:100%;
 position:absolute;;
 top:0;
 left:0;
 
}

.overlay{
  background-color: var(--font-color);  
  opacity: .65;
  width:100%;
  height:100%;
 position:absolute;;
 top:0;
 left:0;
}

.subherosection{
  width:100%;
  height:500px;
  background:orange;
}

.subhero-text{
  text-align: center;
}
.subhero-text h3{
  font-weight:900;
  color:#fff;
}

.subhero-container{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.underline{
  width:100px;
  height:2px;
  border-radius: 3px;
  margin:20px auto;
  background:var(--button-gradient)
}

@media (max-width:900px) {
  .card-section {
    flex-direction: column;
    width: 80%;
    margin: 7% auto;

  }

  .brief-info {
    flex-direction: column;
  }

  .brief-info h2 {
    margin-bottom: 9%;
    font-size: 1.8em;
  }

  .brief-info p {
    font-size: small;
  }

  .hero-wrapper {
    
    background: var(--font-color);
    position: relative !important;
    overflow:hidden;
  }

  .content .img-card2 {
    display: none !important;
  }


}

@media (max-width:770px) {
  .nav {
    position: fixed;
    z-index: 10;
  }

  .hero-wrapper {
    padding-top: 150px !important;
  }

  .img-holder{
    display:none !important; 
  }
  /* .hero-wrapper .overlay{
     background-color: black;
     width:100%;
     height:100%;
    position:absolute;
    top:0;
    left:0;
  } */
}